.bg-especie {
  background-color: #3d573b;
}

.bg-projeto {
  background-color: #619c52;
}

.bg-eventos {
  background-color: #3d573b;
}

.wrapper {
  margin: auto;
  width: 100%;
  max-width: 1680px;
  position: relative;
}

.show {
  right: 0;
}

.remove {
  display: none;
}

.button__voltar {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  -webkit-transition: 300ms;
  transition: 300ms;
  padding: 20px;
}

.button__voltar:hover {
  color: #3d573b;
}

.button__menu--open,
.button__menu--close {
  display: none;
  font-size: 28px;
}

.button_agendar_visita {
  z-index: 30;
  position: fixed;
  bottom: 40px;
  right: 30px;
}

.button__call-action {
  background-color: #3d573b;
  padding: 13px 30px;
  color: #ffffff !important;
  width: auto;
  height: auto;
  border-radius: 5px !important;
  border: 1px solid #3d573b;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.button__call-action:hover {
  background-color: #212529;
  border: 1px solid #3d573b;
}

.card__icon {
  width: 90px;
  height: 90px;
  margin-bottom: 30px;
  border-radius: 50%;
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #111111;
}

.card__icon--pink {
  background-color: #3d573b;
}

.card__icon--yellow {
  background-color: #f39c12;
}

.card__icon--aqua {
  background-color: #22a6b3;
}

.header {
  width: 100vw;
  height: 80px;
  background-color: rgba(33, 37, 41, 0.98);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 20;
}

.header .header--limit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1680px;
  display: flex;
  margin: auto;
  padding: 0 30px;
}

.header .logo {
  padding: 5px;
  font-size: 28px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header .logo .logo__icon {
  color: #f39c12;
}

.header .logo .logo_img {
  width: 20vw;
  height: 8vh;
}

.header .nav-menu {
  z-index: 2;
}

.header .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav-menu .nav-menu__item a {
  padding: 10px;
  color: #ffffff;
  -webkit-transition: 200ms;
  transition: 200ms;
  font-weight: 700;
}

.header .nav-menu .nav-menu__item a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=navbar.css.map */