@import '../../node_modules/bootstrap/scss/bootstrap';

$dark-green: #3d573b;
$light-green: #619c52;

.bg-especie {
  background-color: $dark-green;
  background-image: url("../../img/outros/pintas.svg");
  background-repeat: no-repeat;
  background-position: right;

  a:hover {
    font-weight: bold;
    text-decoration: underline;
  }
}

.bg-projeto {
  background-color: $light-green;

  a:hover {
    text-decoration: underline;
    font-weight: bold;
  }
}

.bg-eventos {
  background-color: $dark-green;
}

.bg-cinza {
  background-color: #f6f6f6;
}

.icones-contato {
  font-size: 24pt;
}

.canto-arredondado {
  border-radius: 32px;
}

.container_img {
  position: absolute;
  top: -20px;
  left: -40px;
  z-index: 1;
}

.projetos__title {
  position: relative;
  z-index: 1;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}
