@import "../../node_modules/bootstrap/scss/bootstrap";

$dark-green: #3d573b;
$light-green: #619C52;

.bg-especie {
  background-color: $dark-green;
}

.bg-projeto {
  background-color: $light-green;
}

.bg-eventos {
  background-color: $dark-green;
}

.bg-cinza {
  background-color: #f6f6f6;
}

.icones-contato {
  font-size: 24pt;
}

.canto-arredondado {
  border-radius: 32px;
}

.container_img {
  position: absolute;
  z-index: 1;
}
