@import "./global.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
.section__carrousel{
    overflow: hidden;
    margin: auto;
    position: relative;
    // width: 80%;
    
    img{
        width: 100%;
        height: 640px;
        // filter: blur(3px);
        // filter: contrast(110%);
        margin-top: 100px;object-fit: cover;
        
    }

    .carrousel__call-action{
        height: 100%;
        width: 100%;
        position: absolute;
        top:0;
        color: $light__color;
        // background-color: rgba(0,0,0,0.3);
        @include flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 30px;


        h1{
            text-align: center;
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        p{
            text-align: center;
            width: 100%;
            max-width: 500px;
            font-weight:400 ;
            font-size: 16px;
            margin-bottom: 40px;
        }
    }
}

.section__cards{
    @include width-limit;
    @include flex;
    margin: auto;
    flex-direction: column;
    background-color:$smoth__color;
    padding: 30px 30px 50px;

    .section__cards--title{
        margin-bottom: 30px;
        font-weight: 700;
        text-align: center;
        padding-top: 60px
    }

    .cards{
        @include flex;
        flex-wrap: wrap;
        justify-content: center;

        .cards__card{
            background-color: $light__color;
            margin: 10px;
            min-width: 200px;
            max-width: 300px;
            padding: 75px 25px 100px;

            @include flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            h4{
                color: $primary__color;
                font-weight: 600;
                font-size: 28px;
            }
            p{
                font-size: 18px ;
                color: $txt__color--slim;
                margin-bottom: 30px;
            }

            h5{
                color: $txt__color--slim;
                font-weight: 300px;
                font-size: 18px;
            }

            

            &:hover{
                h5{
                    color: $secondary__color;
                }
            }
        }

        
    }
}

.section__saiba-mais{
    background-color: $primary__color;
    @include width-limit;
    @include flex;
    margin: auto;
    flex-direction: column;
    padding: 100px 30px 80px;
    text-align: center
    ;
    .mais-sobre__title{
        color: white;
        font-weight: 700;
        margin-bottom: 50px;
    }

    .cards{
       width: 100%;
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       text-align: center;

        .card__item{
            margin: 10px;
            width: 100%;
            min-width: 200px;
            max-width: 500px;
            height: 200px;

            background-color: rgba(0,0,0,0.2);

            @include flex;
            justify-content: center;
            flex-direction: column;

            color: $light__color;
            transition: 300ms;

            &:hover{
                color: $secondary__color;
            }

            .icon{
                margin-bottom: 30px;
                font-size: 28px;
            }
        }
    }
}
.section__galeria{
    
    padding:30px;
    text-align: center;


    p{
        color: $secondary__color;
        font-weight: 500;
        margin-bottom: 15px;
    }

    h1{
        font-weight: 500;
        width: 100%;
        max-width: 400px;
        margin: 0 auto 30px;
    }

    .gallery--limit{
        width: 100%;
        max-width: 960px;
        
        margin: auto;
        display: flex;;
        flex-wrap: wrap;
        justify-content: center;

        .gallery__item{
            
            margin: 10px;
            width: 300px;
            height: 200px;
            cursor: pointer;


            img{
                width: 100%;
                height: 100%;
                transition: 500ms;
            }

            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
    }

}
.section__map{
    padding-top: 80px ;
    margin:0 auto 20px;
    width: 100%;
    height: 700px;
    @include width-limit;
    text-align: center;
    h1{
        padding: 0 30px;
        margin-bottom:30px ;
    }
}

.footer{
    background-color: $primary__color;
    width: 100%;
    padding: 30px 0 50px;

    color: $light__color;

    ul{
        margin: 20px;
        padding: 0 50px;
    }

    .footer__content{
        @include flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    p{
        font-size: 22px;
        font-weight: 500;
        width: 300px;
        text-align: center;
        margin: auto;
        padding-top: 10px;
        border-top: 2px solid $light__color;
        color: $secondary__color;
    }

    a{
        text-align: center;
        padding: 15px;
        color: $light__color;

        &:hover{
            
            color: $secondary__color;
        }
    }

    .social-midia{
        display: flex;
        justify-content: center;

        span{
            margin: 10px;
            font-size: 40px;
        }
    }

}


