@import "./global.scss";

.header{
    width: 100vw;
    height: 80px;
    
    background-color:rgba($primary__color,0.98);
    color: $light__color;
    @include flex;
    justify-content: space-between;
    position: fixed;
    z-index:20;

    .header--limit{
        @include flex;
        justify-content: space-between;
        @include width-limit;
        display: flex;
        margin: auto;
        padding: 0 30px;
    }

    .logo{
        padding: 5px;
        font-size: 28px;
        font-weight: 700;

        @include flex;
        align-items: baseline;
        

        .logo__icon{
            color: $detail__color--1;
        }
        .logo_img {
            width: 20vw;
            height: 8vh;
        }
    }
    
    .nav-menu{
        z-index: 2;

        ul{
            display: flex;
        }

        .nav-menu__item{

            
            a{
                padding:10px;
                color: $light__color;
                transition: 200ms;
                font-weight: 700;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}