*{box-sizing: border-box;}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
html,body, ul,h1,h2,h3,p {
    padding: 0;
    margin: 0;

    font-family: 'Quicksand', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    width: 100vw;
}
