@import "./global.scss";

 @media (max-width:775px){
    
    .button__menu--open, .button__menu--close{
        display: block !important;
    }

    .button__menu--close{
        margin: 25px 0;
    }

    .nav-menu{
        width: 300px;
        height: 98vh;
        display: flex;
        flex-direction: column;
        opacity: 1;
        z-index: 40px;
        position: absolute;
        top: 0;
        right: -300px;
        padding: 20px 0;
        background-color: $primary__color;
        transition: 400ms;

        ul{
            flex-direction: column;
            height: 200px;
            justify-content: space-around;

            li{
                margin: 10px;
                a{
                    padding: 10px 20px !important;
                    font-size: 20px;
                    
                }
            }
        }
    } 

    .carrousel__call-action{
        h1{
            font-size: 40px;
        }
    }
} 